.banner {
  display: block;
  background-color: orange;
  width: 100%;
  border: solid 3px;
}

.banner-option {
  display: inline-block;
  color: green;
}

body {
  background-color: palegreen;
}

h1 {
  text-align: center;
}
