.banner {
  display: block;
  background-color: orange;
  width: 100%;
  border: solid 3px;
  max-height: 55px;
}

.banner-option {
  display: inline-block;
  color: green;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding-bottom: 5px;
}

body {
  /*background-color: palegreen;*/
  background: linear-gradient(to right, green, black, red, orange);
}

h1 {
  text-align: center;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: orange;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  text-align: center;
  text-decoration: none;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

a {
  text-decoration: none;
}
