.banner {
  display: block;
  background-color: orange;
  width: 100%;
  border: solid 3px;
}

.banner-option {
  display: inline-block;
  color: green;
  text-align: center;
}

body {
  background-color: palegreen;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  text-align: center;
  text-decoration: none;
}
